<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit/Delete</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!--Navigation-->

    <nav class="navbar bg-dark col-sm-12,col-md-12,col-lg-12,col-xl-12">
            <div class="container-fluid">
                <ul class="nav">
                    <%for(var i=0;i<nav.length;i++){%>
                        <li class="navbar-item">
                            <a href ="<%=nav[i].link%>" class="item"><%=nav[i].title%></a>
                        </li>
                    <%}%>
                </ul>
            </div>
        </nav>
    
        <!--Top-->
    
        <div class="jumbotron col-sm-12 col-md-12 col-ld-12 col-xl-12" id="top">
            <div class="container-fluid">
                    <div>
                        <h1><%=title%></h1>
                    </div>
                    <form action="/update/save" method="POST" class="form-group" name="viewform">
                        <div class="form-group">
                            <label>Admission Number</label>
                            <input type="text" name= "admno" class="form-control" placeholder="Enter Admission Number" required>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" name="edit" value="Edit">
                            <input type="submit" class="btn btn-danger" name="delete" value="Delete">
                        </div>
                    </form>
            </div>
        </div>
</body>
</html>